# Datetime Index

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [9]:
# 2019년 1월 24일
today = datetime(2022,7,13)

In [10]:
# 0시, 0분 디폴트값
today

datetime.datetime(2022, 7, 13, 0, 0)

In [11]:
# 시,분,초 지정
today = datetime(2022,7,13,16,55)

In [12]:
today

datetime.datetime(2022, 7, 13, 16, 55)

In [13]:
today.day

13

In [14]:
today.hour

16

### Pandas with Datetime Index

In [15]:
# datetime 객체로 list 생성 예시
dates = [datetime(2019,1,23), datetime(2019,1,24)]

In [17]:
# 인덱스 전환
dt_index = pd.DatetimeIndex(dates)  #이걸 왜 인덱스로 만드는걸까?
dt_index

DatetimeIndex(['2019-01-23', '2019-01-24'], dtype='datetime64[ns]', freq=None)

In [20]:
# 랜덤 데이터를 생성하고 인덱스와 함께 DataFrame 만들기
data = np.random.randn(2,2)
cols = ['A','B']
df = pd.DataFrame(data=data, index=dt_index, columns=cols) # dt_index가 인덱스에만 위치하고 순서대로 나타나는구만

In [26]:
df

                   A         B
2019-01-23 -0.577166  0.547564
2019-01-24  1.253967  1.246060

In [29]:
df.index

DatetimeIndex(['2019-01-23', '2019-01-24'], dtype='datetime64[ns]', freq=None)

In [27]:
temp = pd.DataFrame(data=data, index=dt_index, columns=cols).reset_index()
temp

       index         A         B
0 2019-01-23 -0.577166  0.547564
1 2019-01-24  1.253967  1.246060

In [32]:
print(temp['index'])

0   2019-01-23
1   2019-01-24
Name: index, dtype: datetime64[ns]

In [33]:
df.index

DatetimeIndex(['2019-01-23', '2019-01-24'], dtype='datetime64[ns]', freq=None)

In [34]:
# Latest Date Location
df.index.argmax()

1

In [35]:
df.index.max()

Timestamp('2019-01-24 00:00:00')

In [36]:
# Earliest Date Location
df.index.argmin()

0

In [37]:
df.index.min()

Timestamp('2019-01-23 00:00:00')