## Mutable / immutable 

## call by ref / call by val => Pass by reference

In [208]:
class numb:
    def __init__(self, a):
        print(id(a))
        self.a = a

    
target_value = 1
print(type(target_value))
print(id(target_value))

a = numb(target_value)

target_list = [1, 2]
a1 = numb(target_list)
print(type(target_list))
print(id(target_list))

<class 'int'>
140720777171776
140720777171776
2620581921544
<class 'list'>
2620581921544

In [219]:
>>> def func1(a, b):
...     a = 'new-value'        # a and b are local names
...     b = b + 1              # assigned to new objects
...     return a, b            # return new values
...
>>> x, y = 'old-value', 99
>>> func1(x, y)

#좋은 사례

('new-value', 100)

In [224]:
def func2(a):
    a[0] = 'new-value'
    a[1] = a[1] + 1

args = ['old-value', 99]
func2(args)
args

['new-value', 100]

In [234]:
#LIST  - no copy 


def try_to_change_list_contents(the_list):
    print('got', the_list)
    the_list.append('four')
    print("the_list", id(the_list))
    print('changed to', the_list)

outer_list = ['one', 'two', 'three']

print('before, outer_list =', outer_list)
print(id(outer_list))
try_to_change_list_contents(outer_list)
print(id(outer_list))
print('after, outer_list =', outer_list)

before, outer_list = ['one', 'two', 'three']
2620581901128
got ['one', 'two', 'three']
the_list 2620581901128
changed to ['one', 'two', 'three', 'four']
2620581901128
after, outer_list = ['one', 'two', 'three', 'four']

In [236]:
#List - COPY

def try_to_change_list_reference(the_list):
    print('got', the_list)
    the_list = ['and', 'we', 'can', 'not', 'lie']
    print(id(the_list))
    print('set to', the_list)

outer_list = ['we', 'like', 'proper', 'English']

print('before, outer_list =', outer_list)
print(id(outer_list))
try_to_change_list_reference(outer_list)
print(id(outer_list))
print('after, outer_list =', outer_list)

before, outer_list = ['we', 'like', 'proper', 'English']
2620581902856
got ['we', 'like', 'proper', 'English']
2620581924680
set to ['and', 'we', 'can', 'not', 'lie']
2620581902856
after, outer_list = ['we', 'like', 'proper', 'English']

In [240]:
def try_to_change_string_reference(the_string):
    print('got', the_string)
    print(id(the_string))
    the_string = 'In a kingdom by the sea'
    print(id(the_string))
    print('set to', the_string)

outer_string = 'It was many and many a year ago'

print('before, outer_string =', outer_string)
print(id(outer_string))
try_to_change_string_reference(outer_string)
print('after, outer_string =', outer_string)

before, outer_string = It was many and many a year ago
2620581991648
got It was many and many a year ago
2620581991648
2620561449080
set to In a kingdom by the sea
after, outer_string = It was many and many a year ago

In [242]:
def try_to_change_string_reference(the_string):
    print(id(the_string))
    _the_string = the_string
    _the_string = 'In a kingdom by the sea'
    print(id(_the_string))
    print('set to', _the_string)

outer_string = 'It was many and many a year ago'

print('before, outer_string =', outer_string)
print(id(outer_string))
try_to_change_string_reference(outer_string)
print('after, outer_string =', outer_string)

before, outer_string = It was many and many a year ago
2620581991728
2620581991728
2620582010360
set to In a kingdom by the sea
after, outer_string = It was many and many a year ago

In [246]:
def try_to_change_string_reference(the_string):
    the_string = 'In a kingdom by the sea' 
    return the_string

outer_string = 'It was many and many a year ago'

print('before, outer_string =', outer_string)
try_to_change_string_reference(outer_string)
print('after, outer_string =', outer_string)

before, outer_string = It was many and many a year ago
after, outer_string = It was many and many a year ago

In [248]:
def return_a_whole_new_string(the_string):
    new_string = something_to_do_with_the_old_string(the_string)
    return new_string

# then you could call it like
my_string = "mystr"
my_string = return_a_whole_new_string(my_string)

def use_a_wrapper_to_simulate_pass_by_reference(stuff_to_change):
    new_string = something_to_do_with_the_old_string(stuff_to_change[0])
    stuff_to_change[0] = new_string

# then you could call it like
wrapper = [my_string]
use_a_wrapper_to_simulate_pass_by_reference(wrapper)

do_something_with(wrapper[0])

NameError: name 'something_to_do_with_the_old_string' is not defined

## List

In [63]:
#Add an item to the end of the list. Equivalent to a[len(a):] = [x].
a = []
a.append(15)
a.append('string')
a.append(())
a.append([1, 2, 3])
print(a)

[15, 'string', (), [1, 2, 3]]

In [64]:
#Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.
b = [3,4,5]
a.extend(b)
print(a)

[15, 'string', (), [1, 2, 3], 3, 4, 5]

In [65]:
#Insert an item at a given position. The first argument is the index of the element before which to insert, 
#so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).
a.insert(5, 'target')
print(a)
a.insert(5, '밀려나라')
print(a)

[15, 'string', (), [1, 2, 3], 3, 'target', 4, 5]
[15, 'string', (), [1, 2, 3], 3, '밀려나라', 'target', 4, 5]

In [66]:
#Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.
a.remove(3)
print(a)
#리스트 안에 이중으로 된 리스트 내부 3은 어떻게 제거할까?

[15, 'string', (), [1, 2, 3], '밀려나라', 'target', 4, 5]

In [67]:
#Remove the item at the given position in the list,
a.pop()
print(a)
a.pop(3)
print(a)

[15, 'string', (), [1, 2, 3], '밀려나라', 'target', 4]
[15, 'string', (), '밀려나라', 'target', 4]

In [74]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.count('apple'))
print(fruits.count('tangerine'))
print(fruits.index('banana'))
print(fruits.index('banana', 4)) #Find next banana starting a position 4
fruits.reverse()
print(fruits)

fruits.sort()
print(fruits)

print(fruits.pop())

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']
pear

In [190]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange']

## Copy

In [214]:
a = [1, 2, 3]
print(id(a))

b = a
print(id(a),id(b))

b.append(4)
print(id(a),id(b))

b = ['a', 'b']
print(a, b)

2620581924552
2620581924552 2620581924552
2620581924552 2620581924552
[1, 2, 3, 4] ['a', 'b']

In [215]:
class PassByReference:
    def __init__(self):
        self.variable = 'Original'
        self.change(self.variable)
        print(self.variable)

    def change(self, var):
        var = 'Changed'

## Using Lists as Stacks , Queues

In [128]:
stack = [3, 4, 5]
stack.append(6)
print(stack)
stack.pop()
print(stack)

[3, 4, 5, 6]
[3, 4, 5]

In [144]:
from collections import deque


queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
print(queue)
queue.popleft()

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

'Eric'

## List Comprehensions

In [135]:
#List comprehensions

#squares = []
# for x in range(10):
#     squares.append(x**2)

squares = list(map(lambda x: x**2, range(10)))
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [137]:
squares = [x**3 for x in range(10)]
squares

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [143]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

print(combs)
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## Nested List Comprehensions

In [145]:
>>> matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [147]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## del

## Tuples and Sequences

In [150]:
t = 12345, 54321, 'hello!'
print(t[0])
print(type(t))

u = t, (1, 2, 3, 4, 5)
print(u)

12345
<class 'tuple'>
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [152]:
t[0] = 88888 #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [154]:
v = ([1, 2, 3], [3, 2, 1]) # but they can contain mutable objects:
v

([1, 2, 3], [3, 2, 1])

## Dictionaries

In [170]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [171]:
del tel['sape']
tel

{'jack': 4098, 'guido': 4127}

In [172]:
list(tel)

['jack', 'guido']

In [174]:
sorted(tel)

['guido', 'jack']

In [175]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [177]:
{x: x**2 for x in (2, 4 ,6)}

{2: 4, 4: 16, 6: 36}

## Looping Tech

In [179]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [181]:
for i, v in enumerate(['tic','tac','toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [184]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']


for q, a in zip(questions, answers):
    print('what is your {0}? It is {1}'.format(q, a))

what is your name? It is lancelot
what is your quest? It is the holy grail
what is your favorite color? It is blue

In [186]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [188]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [189]:
import math


raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []

for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

## numpy는 왜 사용하는 것일까?

In [161]:
import numpy as np

list1 = [1, 2, 3]
list2 = [2, 3, 4]

list3 = np.array([1, 2, 3])
list4 = np.array([2, 3, 4])

print(list1 + list2)
print(list3 + list4)
print(list1 * 3)
print(list3 * 3) #브로드 캐스팅

[1, 2, 3, 2, 3, 4]
[3 5 7]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[3 6 9]