In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")


display(x_train.head())
display(y_train.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

In [23]:
y_train.Exited.value_counts()

0    5175
1    1324
Name: Exited, dtype: int64

In [2]:
x_train.dtypes

CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [3]:
test_1 = x_train.select_dtypes(include=object)
test_2 = x_train.select_dtypes(include='object')
print(test_1)
print(test_2)

        Surname Geography  Gender
0      Zetticci   Germany  Female
1       Bischof   Germany    Male
2        Hsiung    France  Female
3     Pritchard    France  Female
4         Ts'ai   Germany  Female
...         ...       ...     ...
6494     Martin     Spain    Male
6495  Vorobyova   Germany    Male
6496      Myers     Spain  Female
6497     Hughes     Spain  Female
6498       Yang    France  Female

[6499 rows x 3 columns]
        Surname Geography  Gender
0      Zetticci   Germany  Female
1       Bischof   Germany    Male
2        Hsiung    France  Female
3     Pritchard    France  Female
4         Ts'ai   Germany  Female
...         ...       ...     ...
6494     Martin     Spain    Male
6495  Vorobyova   Germany    Male
6496      Myers     Spain  Female
6497     Hughes     Spain  Female
6498       Yang    France  Female

[6499 rows x 3 columns]

In [4]:
#노이즈 제거?

print('train')
for col in x_train.select_dtypes(include=object): #범주형 변수를 뽑겠다.
    target = x_train[col]
    print('---------')
    print(col)
    print(target.value_counts())

print('\n\n\ntest')
for col in x_test.select_dtypes(include=object):
    target = x_test[col]
    print('---------')
    print(col)
    print(target.value_counts())

train
---------
Surname
Brown         21
Scott         20
Shih          20
Martin        19
Smith         19
              ..
Steiner        1
Descoteaux     1
Sozonov        1
Jefferson      1
Gilleland      1
Name: Surname, Length: 2289, dtype: int64
---------
Geography
France     3227
Germany    1650
Spain      1622
Name: Geography, dtype: int64
---------
Gender
Male      3485
Female    2861
 male       80
female      73
Name: Gender, dtype: int64



test
---------
Surname
Walker       15
Hsing        13
Smith        13
Sun          12
Chu          12
             ..
Mahon         1
Whitworth     1
Arrington     1
Davy          1
Connolly      1
Name: Surname, Length: 1688, dtype: int64
---------
Geography
France     1787
Germany     859
Spain       855
Name: Geography, dtype: int64
---------
Gender
Male      1839
Female    1562
 male       53
female      47
Name: Gender, dtype: int64

In [5]:
#전처리
x_train['Gender'] = x_train['Gender'].replace({' male': 'Male', 'female' : 'Female'}) #통일해주자
print(x_train['Gender'].value_counts())

x_test['Gender'] = x_test['Gender'].replace({' male': 'Male', 'female' : 'Female'}) #통일해주자
print(x_test['Gender'].value_counts())

Male      3565
Female    2934
Name: Gender, dtype: int64
Male      1892
Female    1609
Name: Gender, dtype: int64

In [6]:
#결측값 확인
print(x_train.isnull().sum())
print(x_test.isnull().sum())

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [7]:
#scaler 적용
#변화 폭이 큰 두 칼럼만 적용

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train['Balance'] = scaler.fit_transform(x_train[['Balance']]) # Q. 여기서 왜 그냥 ['Balance']가 아니라 [['Balance']]인걸까
x_train['EstimatedSalary'] = scaler.fit_transform(x_train[['EstimatedSalary']])

x_test['Balance'] = scaler.fit_transform(x_test[['Balance']])
x_test['EstimatedSalary'] = scaler.fit_transform(x_test[['EstimatedSalary']])

In [8]:
# 범주형 변수의 처리

x_train = pd.get_dummies(x_train) #범주형 변수 전처리 메서드
x_test = pd.get_dummies(x_test)

In [12]:
display(x_train.head())

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Surname_Abazu,...,Surname_Zubarev,Surname_Zubareva,Surname_Zuev,Surname_Zuyev,Surname_Zuyeva,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,15799217,791,35,7,-0.391014,1,1,0,1.047721,0,...,0,0,0,0,0,0,1,0,1,0
1,15748986,705,42,8,1.439829,2,1,1,-0.777233,0,...,0,0,0,0,0,0,1,0,0,1
2,15722004,543,31,4,0.985234,1,0,0,-0.664527,0,...,0,0,0,0,0,1,0,0,1,0
3,15780966,709,32,2,-1.231301,2,0,0,0.161110,0,...,0,0,0,0,0,1,0,0,1,0
4,15636731,714,36,1,0.396976,2,1,1,-1.724171,0,...,0,0,0,0,0,0,1,0,1,0

In [9]:
#validation set 나누기
from sklearn.model_selection import train_test_split

x_train_model, x_train_val, y_train_model, y_train_val = train_test_split(x_train, y_train, test_size=0.3, random_state=42)

In [15]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=42) #모델 생성
rf.fit(x_train_model, y_train_model) #모델 트레이닝

RandomForestClassifier(random_state=42)

In [50]:
print(x_train_model.shape)
print(x_train_val.shape)
print(x_test.shape)

(4549, 2303)
(1950, 2303)
(3501, 1702)

In [60]:
import sklearn
print(sklearn.__version__)

0.24.2

In [59]:
!pip upgrade scikit-learn

ERROR: unknown command "upgrade"

In [53]:
#pred_val = rf.predict(x_train_val)
pred_val = rf.predict_proba(x_train_val)

In [54]:
import numpy as np
pred_val = np.argmax(pred_val, axis = 1)

C:\Users\qhrrl\anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

ValueError: could not broadcast input array from shape (1950,4549) into shape (1950,)

In [45]:
pred_val = pred_val[:,1]

TypeError: list indices must be integers or slices, not tuple

In [44]:
pred_val = pd.DataFrame(pred_val)

C:\Users\qhrrl\anaconda3\lib\site-packages\pandas\core\internals\construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

ValueError: could not broadcast input array from shape (1950,4549) into shape (1950,)

In [35]:
from sklearn.metrics import roc_auc_score

print(roc_auc_score(y_train_val, pred_val[:,1]))

TypeError: list indices must be integers or slices, not tuple

In [ ]:
#제출용 모델 생성 및 예측값 생성
rf.fit(x_train, y_train)
pred_sub = rf.predict_proba(x_train)[:, 1]

In [ ]:
submission = pd.DataFrame({'Custo'})