In [1]:
import pandas as pd
import numpy as np

adult = pd.read_csv('data/adult.csv')
adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [2]:
#가변수 처리
adult_dummies = pd.get_dummies(adult)
list(adult_dummies.columns)

['age',
 'fnlwgt',
 'education.num',
 'capital.gain',
 'capital.loss',
 'hours.per.week',
 'workclass_?',
 'workclass_Federal-gov',
 'workclass_Local-gov',
 'workclass_Never-worked',
 'workclass_Private',
 'workclass_Self-emp-inc',
 'workclass_Self-emp-not-inc',
 'workclass_State-gov',
 'workclass_Without-pay',
 'education_10th',
 'education_11th',
 'education_12th',
 'education_1st-4th',
 'education_5th-6th',
 'education_7th-8th',
 'education_9th',
 'education_Assoc-acdm',
 'education_Assoc-voc',
 'education_Bachelors',
 'education_Doctorate',
 'education_HS-grad',
 'education_Masters',
 'education_Preschool',
 'education_Prof-school',
 'education_Some-college',
 'marital.status_Divorced',
 'marital.status_Married-AF-spouse',
 'marital.status_Married-civ-spouse',
 'marital.status_Married-spouse-absent',
 'marital.status_Never-married',
 'marital.status_Separated',
 'marital.status_Widowed',
 'occupation_?',
 'occupation_Adm-clerical',
 'occupation_Armed-Forces',
 'occupation_Craft-repair',
 'occupation_Exec-managerial',
 'occupation_Farming-fishing',
 'occupation_Handlers-cleaners',
 'occupation_Machine-op-inspct',
 'occupation_Other-service',
 'occupation_Priv-house-serv',
 'occupation_Prof-specialty',
 'occupation_Protective-serv',
 'occupation_Sales',
 'occupation_Tech-support',
 'occupation_Transport-moving',
 'relationship_Husband',
 'relationship_Not-in-family',
 'relationship_Other-relative',
 'relationship_Own-child',
 'relationship_Unmarried',
 'relationship_Wife',
 'race_Amer-Indian-Eskimo',
 'race_Asian-Pac-Islander',
 'race_Black',
 'race_Other',
 'race_White',
 'sex_Female',
 'sex_Male',
 'native.country_?',
 'native.country_Cambodia',
 'native.country_Canada',
 'native.country_China',
 'native.country_Columbia',
 'native.country_Cuba',
 'native.country_Dominican-Republic',
 'native.country_Ecuador',
 'native.country_El-Salvador',
 'native.country_England',
 'native.country_France',
 'native.country_Germany',
 'native.country_Greece',
 'native.country_Guatemala',
 'native.country_Haiti',
 'native.country_Holand-Netherlands',
 'native.country_Honduras',
 'native.country_Hong',
 'native.country_Hungary',
 'native.country_India',
 'native.country_Iran',
 'native.country_Ireland',
 'native.country_Italy',
 'native.country_Jamaica',
 'native.country_Japan',
 'native.country_Laos',
 'native.country_Mexico',
 'native.country_Nicaragua',
 'native.country_Outlying-US(Guam-USVI-etc)',
 'native.country_Peru',
 'native.country_Philippines',
 'native.country_Poland',
 'native.country_Portugal',
 'native.country_Puerto-Rico',
 'native.country_Scotland',
 'native.country_South',
 'native.country_Taiwan',
 'native.country_Thailand',
 'native.country_Trinadad&Tobago',
 'native.country_United-States',
 'native.country_Vietnam',
 'native.country_Yugoslavia',
 'income_<=50K',
 'income_>50K']

In [4]:
#X,y 분리
features = adult_dummies.loc[:, 'age':'native.country_Yugoslavia']
X = features.values
y = adult_dummies['income_>50K'].values

#train test split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y.reshape(-1,), test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

#모델 적합
log_reg = LogisticRegression(random_state=42)
log_reg.fit(X_train, y_train)
y_pred_val = log_reg.predict(X_val)

#모델 성능 평가
y_pred_proba = log_reg.predict_proba(X_val)  #predict_proba : 예측확률
y_pred = np.argmax(y_pred_proba, axis=1) # 잘만되네? 
accuracy_score(y_val, y_pred)

0.7953009828009828