# 120pg ~ 다변량 데이터
  
  
데이터는 Tidy한 데이터가 중요하다

In [9]:
import numpy as np
import pandas as pd

In [10]:
fish_m = pd.DataFrame({
 'species' : np.array(["A","A","A","B","B","B"]),
    'length':np.array([2,3,4,6,8,10]),
})

In [11]:
fish_m

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [13]:
group = fish_m.groupby("species")
print(group.mean())

         length
species
A             3
B             8

In [14]:
print(group.std(ddof=1))

         length
species
A           1.0
B           2.0